workflows/02_agent_core.json
{
  "name": "02_agent_core",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -144
      ],
      "id": "f6c1c248-3f9e-4459-be89-31bab995b330",
      "name": "Telegram Trigger",
      "webhookId": "3c8daf9d-d9ef-4f3d-a0a6-fa2e96cf971d",
      "credentials": {
        "telegramApi": {
          "id": "wb4BzHIV1lOQddzC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -144
      ],
      "id": "fb7bda62-90b5-4be5-9583-bdf0bceb8177",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        64
      ],
      "id": "6879b493-e747-4fa9-a336-6df23da7fd83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "c1506FeJ8mt7RQMI",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        64
      ],
      "id": "7ac8065d-1ca6-4c1b-a3c7-6db1e83c6d0c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "pineconeIndex": {
          "__rl": true,
          "value": "business-assistant",
          "mode": "list",
          "cachedResultName": "business-assistant"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        64
      ],
      "id": "f7683c78-5a1f-4291-97bf-51a31a499f14",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "OD3pB433TJNIBjIb",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        224
      ],
      "id": "469d5c46-56c2-498f-9d10-5565027942cd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "c1506FeJ8mt7RQMI",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -144
      ],
      "id": "37b70d0a-e11f-498e-9da2-1ac236ad06dc",
      "name": "Send a text message",
      "webhookId": "2bd3519c-182d-4539-8619-6f19e70e2a31",
      "credentials": {
        "telegramApi": {
          "id": "wb4BzHIV1lOQddzC",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cbe1fdf6-9520-4200-ba91-1ec89316ad03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c30ddc6bf453273f4d5f29828fb98262a19ac3941ec7092317bdf7eca46e2bc3"
  },
  "id": "YW4kETVVvEYTmNwp",
  "tags": []
}